@import './../settings/settings-colors.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    position: relative;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation__element {
    list-style: none;
    padding-right: 20px;

    a {
        text-decoration: none;
        font-weight: bold;
    }

    img{
        padding-right: 20px;
        padding-top: 6px;
    }
}

.primary-btn{
    background-color: $white;
    color: $blue;
}

.primary-btn::after{
    content: url(../../assets/pictutes/Vector.svg);
}