
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.container__nested{
    max-width: 1280px;
    margin: 0 auto;
}

.cards__container{
    max-width: 1000px;
    margin: 0 auto;
}

.date-container{
    display: flex;
}